:root{
    --border-radius-popup: 5px
}

.popup{
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.7);
    
    user-select: none;
    display: none;
    animation: fade-in 0.2s;
}

.popup-container{
    width: 700px;
    height: fit-content;
    
    background-color: #4A69BD;
    color: white;
    border-radius: var(--border-radius-popup);
    padding: 40px;

    display: flex;
    flex-direction: column;
    position: relative;
}

.popup label{
    font-size: 2.4rem;
}

.popup input, select{
    width: 100%;
    height: 48px;
    margin-bottom: 15px;
    padding: 5px;

    font-size: 1.8rem;
    font-family: Roboto, sans-serif;

    border-radius: var(--border-radius-popup);
    border: none;
}

.popup input[type=number]{
    width: 100px;
}

.horizontal-inputs{
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

#input-op{
    width: auto;
}

.popup button{
    padding: 10px 30px;
    margin-top: 20px;
    border: none;
    border-radius: var(--border-radius-popup);
    cursor: pointer;
    
    font-family: Roboto, sans-serif;
    font-size: 2rem;

    align-self: flex-end;

}
.popup button:hover{
    background-color: #ffffff;
    color: rgb(58, 58, 58);
    transition: 0.15s;
}

.close-popup-button{
    position: absolute;
    top: -20px;
    right: 10px !important;

    width: 40px !important;
    height: fit-content !important;

    font-family: cursive !important;

    background-color: transparent !important;
}

#new-forward-payment-popup-container{
    flex-direction: column;
    width: 280px;
}

#input-forward-payment-value{
    width: 200px;
}

#input-forward-payment-op{
    width: 200px;
}

#forward-payment-new-button{
    align-self: start;
    width: 200px;
}