#page_requests{
    padding: 10px;
    margin-top: 20px;
}

.request{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.request:hover{
    border-radius: 20px;
    background-color: rgb(74, 105, 189, 0.1);
    transition: ease-in-out 0.2s background-color,border-radius;
}

.request_status{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.request_status_waiting{
    background-color: #FAD390;
}

.request_status_started{
    background-color: #78E08F;
}

.request_status_finished{
    background-color: #4A69BD;
}

.request_address{
    font-size: 2rem;
    font-weight: 500;
}

.deny-request{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color var(--hover-transition-time) ease-in-out;
    user-select: none;
    position: absolute;
    right: 5px;
    top: 5px;
}
.deny-request:hover{
    background-color: rgba(255, 0, 0, 0.5);
}

.request_items{
    font-size: 1.4rem;
    font-weight: 300;
    width: 100%;
    margin-left: 60px;
    position: relative;
    bottom: 10px;
}